# Unity
unity/[Ll]ibrary/
unity/[Tt]emp/
unity/[Oo]bj/
unity/[Bb]uild/
unity/[Bb]uilds/
unity/[Ll]ogs/
unity/[Uu]ser[Ss]ettings/
unity/[Mm]emoryCaptures/
unity/[Rr]ecordings/
unity/Assets/AssetStoreTools*
unity/Assets/Plugins/Editor/JetBrains*
unity/[Aa]ssets/StreamingAssets/aa.meta
unity/[Aa]ssets/StreamingAssets/aa/*

# Visual Studio / Rider / VS Code
.vs/
.idea/
.vscode/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# OS
.DS_Store
Thumbs.db

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crash reports
sysinfo.txt
crashlytics-build.properties

# Python tooling
__pycache__/
*.pyc
.venv/
